@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); //Besas neue
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap'); //Lora
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap'); //Work sans

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
}

h1,
h2 {
    font-family: 'Bebas Neue', cursive;
}